@import '../../style/colours.scss';

.SearchBox {
  margin-bottom: 20px;
  
  @media (max-width: 549px) {
    display: flex;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__text {
    -webkit-appearance: none;
    border: 1px solid #ddd;
    color: inherit;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    
    @media (max-width: 549px) {
      flex: 1;
    }

    &:focus,
    &:active {
      outline: 0;
      border: 1px solid #ccc;
    }

    &:active {
      border: 1px solid #aaa;
    }

    @media (min-width: 550px) {
      width: 250px;
    }
  }

  &__button {
    -webkit-appearance: none;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid #eee;
    color: #555;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 24px;
    height: 50px;
    margin-left: 10px;
    padding: 8px 0 2px;
    width: 50px;

    &:hover {
      cursor: pointer;
      background-color: #fcfcfc;
      border: 1px solid #ccc;
    }

    &:focus,
    &:active {
      outline: 0;
    }

    &:active {
      border: 1px solid #aaa;
      color: #333;
    }
  }
}
