.WeatherForNext5Days {
  @media (max-width: 549px) {
    & > * {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (min-width: 550px) {
    display: flex;
    justify-content: space-between;

    @media (max-width: 849px) {
      flex-wrap: wrap;

      & > * {
        min-width: 40%;

        &:nth-child(1) {
          min-width: 80%;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
          margin-left: 0;
        }

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          margin-right: 0;
        }
      }
    }
  }
}
