@import '../../style/colours.scss';

.Application {
  color: $text-colour;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  
  &__title {
    font-size: 2rem;
  }
}
