@import '../../style/colours.scss';
@import '../../style/weather-icons.min.scss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ebf4f8;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Application {
  background-color: white;
  color: $text-colour;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  max-width: 960px;
  min-height: 100%;
  padding: 20px;
  
  &__title {
    font-size: 2rem;
    margin-top: 0;
  }
}
